*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.main{
    background-color: #ccc;
    width: 18%;
    padding: 1rem;
    text-align: center;
}

.buttons{
    width: 100%;
    padding-top: 1rem;
}

.input{
    border: hidden;
    border-radius: .5rem;
    font-weight: bolder;

}

.input:focus{
    border: hidden;
}

button{
    width: 3rem;
    font-weight: bolder;

}